{snippet}
{foreach $flashes as $flash}
	<div class='{isset($typeClasses[$flash->getType()]) ? $typeClasses[$flash->getType()] : $typeClasses[NULL]}'>
		{$flash->getMessage()}
	</div>
{/foreach}
{/snippet}
